<launch>
  <!-- All settings -->
  <arg name="robot_name" default="rmf_obelix"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="rviz_en" default="true" />
  <arg name="launch_prefix" default=""/> <!-- gdb -ex run //args -->
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <!-- Config files -->
  <arg name="gbplanner_config_file" default="$(find gbplanner)/config/MARSIM/gbplanner_config.yaml"/>
  <arg name="pci_file" default="$(find gbplanner)/config/MARSIM/planner_control_interface_sim_config.yaml"/>
  <arg name="octomap_config_file" default="$(find gbplanner)/config/MARSIM/octomap_sim_config.yaml"/>
  <arg name="map_config_file" default="$(arg octomap_config_file)"/>


  <arg name="odometry_topic" default="/quad_0/odom"/>
  <arg name="pointcloud_topic" default="/quad0_pcl_render_node/cloud"/>
  <!-- Graph based planning -->
  <node pkg="gbplanner" type="gbplanner_node" name="gbplanner_node" output="screen" launch-prefix="$(arg launch_prefix)">
    <remap from="odometry" to="$(arg odometry_topic)" />
    <remap from="/pointcloud" to="$(arg pointcloud_topic)" />
    <rosparam command="load" file="$(arg gbplanner_config_file)" />
    <rosparam command="load" file="$(arg map_config_file)" />
  </node>

  <!-- Planner and Control Interface -->
  <node pkg="pci_mav" type="pci_mav_ros_node" name="pci_mav_ros_node" output="screen">
    <!-- <remap from="command/trajectory" to="$(arg robot_name)/command/trajectory" /> -->
    <remap from="planner_server" to="gbplanner" />
    <remap from="planner_homing_server" to="gbplanner/homing" />
    <remap from="odometry" to="$(arg odometry_topic)"/>
    <rosparam command="load" file="$(arg pci_file)" />
  </node>

  <node pkg="gbplanner" type="traj_to_position_cmd_lookahead.py" name="traj_to_position_cmd_node" output="screen"/>

  <node pkg="rviz" type="rviz" name="gbplanner_ui" output="screen" args="-d $(find gbplanner)/config/rviz/marsim.rviz"/>
  <node pkg="gbplanner" type="auto_trigger.py" name="auto_trigger" output="screen" />

</launch>